.search-bar {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.search-input {
  padding-left: 2rem;
  width: 15rem;
  font-size: large;
  border: none;
}

.search-input:focus{
    outline: none;
}
.search-bar-container {
  border: 1px solid var(--dark-gray-light-mode); ;
  border-radius: 15px;
  padding: 0.5rem;
  width: 25rem;
}
